/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05-feb-2014, 9:42:16
    Author     : Grupo 3
*/

#AnchorPane{
    -fx-background-color:white;
}

.label{
    -fx-font-size: 12px;
}

.combo-box{
    -fx-font-size: 12px;
}

.button{
    -fx-font-size: 12px;
}

.text-field{
    -fx-font-size: 12px;
}

.text-area{
    -fx-font-size: 12px;
}
