/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05-feb-2014, 9:42:16
    Author     : Grupo 3
*/

#AnchorPane{
    -fx-background-color:white;
}

.label{
    -fx-font-size: 12px;
}

.combo-box{
    -fx-font-size: 12px;
}

.button{
    -fx-font-size: 12px;
}

.text-field{
    -fx-font-size: 12px;
}

.text-area{
    -fx-font-size: 12px;
}

.tab{
    -fx-font-size: 12px;
    
}
.tab-header-area {
    -fx-padding: 0.0em 0.0em 0.0em 0.0em;
}
.autofill-text {
    -fx-skin: "np.com.ngopal.control.AutoFillTextBoxSkin";
}
.nota{
    -fx-font-size: 10px;
    font-style: italic;
}
.check-box{
    -fx-font-size: 12px;
}

.table-column{
    -fx-font-size: 12px;
}
.table-view{
    -fx-font-size: 12px;
}
.creditos{
    -fx-font-size: 12px;
    -fx-text-alignment: center;
}


